<header>
    {% include navigation.html %}
    <div class="container flex-column">
        <section id="title">
            <div class="flex-column">
                <img class="logo" src="/assets/images/logo.png" alt="logo" />
                <a id="a-title" href="{{ '/' | relative_url }}">
                    <h1 class="title">{{ site.title | default: site.github.repository_name }}</h1>
                </a>
                <h2>{{ site.description | default: site.github.project_tagline }}</h2>
            </div>
        </section>

        <div class="container flex-row justify-between">
            <section id="downloads">
                {% if site.show_downloads %}
                <div>
                    <a href="{{ site.github.zip_url }}" class="btn">Download as .zip</a>
                    <a href="{{ site.github.tar_url }}" class="btn">Download as .tar.gz</a>
                </div>
            
                {% endif %}
            </section>
            
            <section id="repos">
                <a href="{{ site.github.repository_url }}" class="btn btn-github"><span class="icon"></span>View this
                    repo</a>
                <a href="https://github.com/sxmxc" class="btn btn-github"><span class="icon"></span>View other repos</a>
            </section>

        </div>

    </div>
</header>