<header>
    {% include navigation.html %}
    <div class="container flex-column logo_title">
        <section id="title">
            <div class="flex-column">
                <img class="logo" src="/assets/images/logo.png" alt="logo" />
                <a id="a-title" href="{{ '/' | relative_url }}">
                    <h1 class="title">{{ site.title | default: site.github.repository_name }}</h1>
                </a>
                <h2>{{ site.description | default: site.github.project_tagline }}</h2>
            </div>
        </section>

        <div class="flex-row half-width justify-evenly">
           
                {% if site.show_downloads %}
                <button class="cybr-btn">
                    Download<span aria-hidden>_</span>
                    <span aria-hidden class="cybr-btn__glitch"><a href="{{ site.github.zip_url }}">Zip</a></span>
                    <span aria-hidden class="cybr-btn__tag">voidmoose</span>
                </button>
                <button class="cybr-btn">
                    Download<span aria-hidden>_</span>
                    <span aria-hidden class="cybr-btn__glitch"><a href="{{ site.github.tar_url }}">Tarball</a></span>
                    <span aria-hidden class="cybr-btn__tag">voidmoose</span>
                </button>
                {% endif %}
                <button class="cybr-btn">
                    View<span aria-hidden>_</span>
                    <span aria-hidden class="cybr-btn__glitch"><a href="{{ site.github.repository_url }}">This repo</a></span>
                    <span aria-hidden class="cybr-btn__tag">voidmoose</span>
                </button>
                <button class="cybr-btn">
                    View<span aria-hidden>_</span>
                    <span aria-hidden class="cybr-btn__glitch"><a  href="https://github.com/sxmxc">Other repos</a></span>
                    <span aria-hidden class="cybr-btn__tag">voidmoose</span>
                </button>
      
           

        </div>

    </div>
</header>