$primary-color: #b5e853;
$secondary-color: #666;


.align-right {
    float: right;
}

.align-left {
    float: left
}

#repos {
    float: right;
    display: block;
}

#downloads {
    float: left;
    display: block;
}

header {
    display: inline-block;
}

.current {
    color: $primary-color;
}

img.logo {
    width: 200px;
    height: 200px;
    align-self: center;
}

h1.title {
    position: relative;
}

section#title {
    display: flex;
    justify-content: center;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.justify-end {
    justify-content: end;
}

.justify-between {
    justify-content: space-between;
}

#a-title {
    align-self: center;
    display: flex;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.nav-link {
    flex: auto;
    text-align: center;

}