---
---

<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US" }}">

<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap" rel="stylesheet"
        crossorigin="anonymous" referrerpolicy="no-referrer">
    {% feed_meta %}
    {% include head-custom.html %}

    {% seo %}
</head>

<body>
    {% include navigation-vertical.html %}
    {{ content }}
    {% if page.js %}
        {% for js_file in page.js %}
            <script src='{{ site.baseurl }}/assets/js/{{ js_file }}.js' type="text/javascript"></script>
        {% endfor %}
    {% endif %}
</body>

</html>


